distribute==0.6.35
Django==1.5
MySQL-python==1.2.4
Pygments==1.6
PyYAML==3.10
chardet==2.1.1
html5lib==0.95
ipython==0.13.1
ipdb==0.7
lxml==3.1.0
## FIXME: could not find svn URL in dependency_links for this package:
pyreadline==1.7.1.dev-r0
readline==6.2.4.1
git+git://github.com/kennethreitz/requests.git@13de69299f9026bb0be5333e8a4c78a07f2558e9#egg=requests-1.1.0-py2.7-dev
wsgiref==0.1.2




